[user]
    name = Sandesh Devaraju
    email = scouredimage@gmail.com
[github]
    user = scouredimage
    token = foo
[core]
    excludesfile = ~/.gitexcludes
[color]
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    staged = diff --cached
    amend = commit --amend
    oneline = log --oneline
    unstaged = diff
    both = diff HEAD
    lg = log --graph --pretty=oneline --abbrev-commit --decorate
    wdiff = diff --word-diff
[log]
    decorate = short
[push]
    default = tracking
[branch]
    autosetuprebase = always
